*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'bowlby One SC',cursive;
}

body{
      height: 100vh;
      background-image: url(unnamed.jpg);
      display: flex;
      justify-content: center;
}
 .login{
     height: 550px;
     position: absolute;
 }
 .formulario{
     width: 150 px;
     position: absolute;
     background-color: indigo;
     border: 5px solid #8f4790;
     border-radius: 10px;
     padding: 30px 60px;
     top: 290px;
     left: 50%;
     transform: translate(-50%);
     text-align: center;
 }
 .formulario input,label,button{
     display: block;
     width: 100%;
     margin: 5px 0;
 }
 .formulario input{
     height: 40px;
     border: 2px solid slateblue;
     border-radius: 10px;
     padding: 0 8px;
 }

 .formulario a{
     margin-top: 70px;
     cursor: pointer;
     border: none;
     height: 40px;
     background-color: violet;
     box-shadow: 1px 2px 2px rosybrown;
     text-decoration: none;
     padding: 5px 7px;
 }
 .formulario a:hover{
     background: rgb(83, 3, 83);
     color: thistle;
     text-decoration: none;

 }